# Exclude all files by default
*

# Allow the site files
!index.html
!training-course.html
!part107-study-guide.html
!.gitignore
!top-drone-school-logo-20aug25-b.png
!favicon-32.png
!favicon-apple.png
!avata-2.html
!flight-log-march-9-2026.html
!generated_imgs/
!generated_imgs/*.png
!generated_imgs/*.jpg
!avata 2/
!avata 2/*.jpg
!avata 2/*.webp
!fpv-drone-obstacle-course.jpg
!fpv-drone-obstacle-course-variable-sizes.jpg
